.parentContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}

.container {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  height: 70px;
}

.searchBtn {
  height: 48px;
}

.formFix div {
  margin: 0;
}

.menuBtn {
  display: block;
}

.menuIcon {
  display: block;
  width: 25px;
  height: 3px;
  background: #000000;
  margin-bottom: 5px;
}

.menuIcon:last-child {
  margin-bottom: 0;
}

.navList {
  width: 273px;
  position: absolute;
  right: 0;
  top: 115px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  margin-top: 2px;
  min-height: calc(100vh - 124px);
  display: none;
  background: #ffffff;
}

.navItems {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.navItems li {
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  cursor: pointer;
}

.navItems li span {
  position: absolute;
  top: -3px;
}

.navItems li:last-child {
  border-bottom: none;
}

.searchForm {
  position: absolute;
  right: 0;
  top: 70px;
  height: 48px;
  display: none;
}

.menuClose {
  display: none;
  font-size: 20px;
  color: lightgray;
}

.searchForm button {
  border: 1px solid lightgray;
  border-left: none;
  border-radius: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  .navList {
    width: 20%;
    position: relative;
    top: 0;
    box-shadow: none;
    margin-top: 0;
    min-height: fit-content;
    display: block;
  }

  .navItems li {
    padding: 0;
    border-bottom: none;
  }

  .menuBtn {
    display: none;
  }

  .menuClose {
    display: none;
  }

  .navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin: 0;
    font-size: 15px;
  }

  .searchForm {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    width: 50%;
  }

  .searchForm div {
    width: 100%;
  }

}